{% extends 'app/base.html' %}
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block register %}
        <h5> Search for {{searched}} </h5> <br/>
        <div class="row">
            {% for product in keys %}
            <div class="col-lg-3">
                <image class="thumbnail" src="{{product.ImageURL}}">
                <div class="box-element product">
                    <h6> <strong> {{product.name}}  </strong> </h6>
                    <hr>
                    <button data-product= {{product.id}} data-action = 'add' class="btn bnt-outline-secondary add-btn update-cart"> Add cart</button>
                    <a class="btn btn-outline-success" href="#"> View </a>
                    <h6 style="display: inline_block; float:right"><strong> {{product.price | floatformat:2}} </strong></h6>
                  </div>
              </div>
            {% endfor %}
          </div>
          <br /><br /><br /><br />
        {% endblock register %}
    </body>
</html>